# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
build/
output/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache clean option. Not usually needed.
.npm

# Optional Byobu cache directory
.byobu

# IDE specific files
.idea/
.vscode/
*.iml

# Testing Framework
coverage/

# Tauri specific files
src-tauri/target/

# Vite cache
.vite/

# Biome cache
.biome/

# Playwright cache
.playwright/
